{% load i18n %}
{% load staticfiles %}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="ru" xml:lang="ru">
  <head>
    <title>{{ site_title }}</title>

    <link rel="stylesheet" type="text/css" href='{% static "css/style.css" %}' />


  </head>
  <body>
    {% csrf_token %}
    <div class="wrapper">

    {% include "shop/header.html" %}
    {% include "shop/column_right.html" %}

<div class="middle">
    <div class="container">
		<main class="content">

          {% block content %}{% endblock %}

        </main>
    </div>

    {% include "shop/column_left.html" %}
</div>
</div>
    {% include "shop/footer.html" %}
</body>
</html>
